<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <ul>
                <li>My blog</li>
                <li><a href="/">Home</a></li>
                <li><a href="/post/new">NewPost</a></li>
                <li><a href="/post/all">MyPosts</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>

    {% elseif is_granted(expression('is_anonymous()')) %}
            <ul>
                <li>My blog</li>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
    {% endif %}
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
</div>
</body>
</html>